.menu {
  ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;

	li {
	  padding-left: 1em;

	  &:first-child {
		padding-left: 0;
	  }

	  a {
		text-decoration: none;
		color: #303030;

		&:hover,
		&:focus {
		  text-decoration: underline;
		}

		&:visited {
		  text-decoration: none;
		}
	  }

	  ul.children {
		display: none;
	  }
	}
  }
}